<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>阳光成单</title>
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<meta name="renderer" content="webkit">
<meta http-equiv="Cache-Control" content="no-siteapp" />
<link rel="stylesheet" type="text/css" href="css/global.css" />
</head>
<body style="background:#fff;">
<div>
  <link href="css/login.css" rel="stylesheet" type="text/css" />
  <form method="post" action="" id="form1">
    <div class="aspNetHidden">
      <input type="hidden" name="__VIEWSTATE" id="__VIEWSTATE" value="" />
    </div>
    <header id="title">
      <div class="back"> </div>
      个人登录 </header>
      <div style="height:2.8em;"></div>
    <section id="login">
      <div> <span> <img src="images/icon_phone.png" width="24" height="24" alt="用户名图标"></span>
        <input type="text" id="txtuser" name="txtuser" placeholder="手机号码/用户名">
      </div>
      <div> <span> <img src="images/icon_password.png" width="24" height="24" alt="密码图标"> </span>
        <input id="txtpwd" name="txtpwd" type="password" placeholder="请输入密码">
      </div>
      <input  type="hidden" name="openid" value="" />
      <a id="asubmit" class="btnLogin">登录</a><p><a href="#" style="float:left">注册</a><a href="#" style="float:right">忘记密码</a></p> 
	</section>
  </form>
</div>
</body>
</html>
