<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>阳光成单</title>
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<meta name="renderer" content="webkit">
<meta http-equiv="Cache-Control" content="no-siteapp" />
<link href="css/amazeui.min.css" rel="stylesheet" type="text/css" />
<link href="css/style.css" rel="stylesheet" type="text/css" />
</head>
<body>
<header class="glue2 mhome">
  <div class="top mhome"> <a href="账号与安全.html">
    <div class="big"> <span> <img src="images/act_per.png"> </span> 我的账户</div>
    </a> <a href="提现.html" class="right_a">提现</a> </div>
  <div class="cont mhome">
    <div class="cont_list"> <span class="ttprice">0.00</span> <span class="tttext">账户余额（元）</span> </div>
  </div>
  <div class="butt mhome">
    <ul class="butt_list">
      <li> <span class="ttprice">0</span><span class="tttext">累计成交（单）</span> </li>
      <li> <span class="ttprice">0.00</span><span class="tttext">累计成交额（万元）</span> </li>
    </ul>
  </div>
</header>

<div class="user_nav_list w">
    	<ul>
            <li>
            	<a href="交易记录.html">
                	<div class="u_nav_icon money"></div>
                    <div class="u_nav_name">成单记录</div>
                     <div class="nt_icon"></div>
              </a>
            </li>
            <li>
            	<a href="银行卡列表.html">
                	<div class="u_nav_icon huibi"></div>
                    <div class="u_nav_name">我的银行卡</div>
                    <div class="nt_icon"></div>
              </a>
            </li>
            <li>
            	<a href="消息.html">
                	<div class="u_nav_icon tixian"></div>
                    <div class="u_nav_name">消息</div>
                    <div class="nt_icon"></div>
                    <div class="u_money"><i>1条</i></div>
                    <span class="upload_num"></span>
              </a>
            </li>
            <li>
            	<a href="投诉.html">
                	<div class="u_nav_icon message"></div>
                    <div class="u_nav_name">意见反馈</div>
                    <div class="nt_icon"></div>
                    <div class="u_money"><i>0个</i></div>
              </a>
            </li>
            <li>
            	<a href="更多.html">
                	<div class="u_nav_icon dingdan"></div>
                    <div class="u_nav_name">更多</div>
                    <div class="nt_icon"></div>
              </a>
            </li>
        </ul>
    </div>

<div style="height:5.5rem;"></div>
<ul class="quanbu-ul1">
  <li class="current">
    <div class="qu-tu1"> <a href="index.html" class="atu1"><img src="images/sjsc-02.png"></a> <a href="index.html" class="atu2"><img src="images/sjsc-15-1.png"></a> </div>
    <a href="index.html" class="qu-ul1a">首页</a> </li>
  <li>
    <div class="qu-tu1"> <a href="订单.html" class="atu1"><img src="images/sjsc-17.png"></a> <a href="订单.html" class="atu2"><img src="images/sjsc-17-1.png"></a> </div>
    <a href="订单.html" class="qu-ul1a">订单</a> </li>
  <li>
    <div class="qu-tu1"> <a href="个人中心.html" class="atu1"><img src="images/sjsc-18.png"></a> <a href="个人中心.html" class="atu2"><img src="images/sjsc18-1.png"></a> </div>
    <a href="个人中心.html" class="qu-ul1a">我的</a> </li>
  <div style="clear:both;"></div>
</ul>
<script src="js/amazeui.min.js"></script>
</body>
</html>
