<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>阳光成单</title>
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<meta name="renderer" content="webkit">
<meta http-equiv="Cache-Control" content="no-siteapp" />
<link rel="stylesheet" type="text/css" href="css/global.css" />
<link href="css/style.css" rel="stylesheet" type="text/css" />
<script src="js/jquery-1.10.2.min.js"></script>
<script src="js/toggle.js"></script>
</head>
<body>
<header id="title">
  <div class="back"> </div>
  产品介绍
  <div class="order_sm">费用计算器</div>
</header>
<div style="height:40px;"></div>
<!--提现-->
<div class="detail-toggle">
  <div class="projectitem">
    <div class="title z-active"><strong class="tit">返佣说明</strong><i class="arrow arrow-1"></i></div>
    <div class="content" style="display:block;">
      <div class="c">佣金计算：<br>
        <font color="#ff711c">实际佣金=实际贷款金额（由同城成单实际放款的金额）х佣
        金比例</font>，同城成单会根据借款人可以接受的借款综合成本建议
        合理的佣金比例（详见借款成本），同城成单可以根据与借款
        人的实际沟通情况确定借款综合成本，但不得突破建议合理佣
        金的上下限。</div>
    </div>
  </div>
  <div class="projectitem">
    <div class="title z-active"><strong class="tit">产品特点</strong><i class="arrow arrow-1"></i></div>
    <div class="content" style="display:block;">
      <div class="c">额度高：贷款成数最高可达房产市值的<font color="#ff711c">7</font>成；单笔金额最高可
        贷<font color="#ff711c">500</font>万，同一借款人最高可贷<font color="#ff711c">1000</font>万。<br>
        佣金高：综合成本低至月<font color="#ff711c">1.3%</font>（包括渠道费用），超出部分
        全部归属于同城成单。<br>
        期限活：1~12月均可支持，先息后本。<br>
        手续简：房产抵押（办理他项权证）；只要合法合规，不限定
        借款用途。<br>
        放款快：资料齐全，最快当天放款。 </div>
    </div>
  </div>
  <div class="projectitem">
    <div class="title z-active"><strong class="tit">业务办理流程</strong><i class="arrow arrow-1"></i></div>
    <div class="content" style="display:block;">
      <div class="c"><img src="images/lcimg.jpg"></div>
    </div>
  </div>
  <div class="projectitem">
    <div class="title z-active"><strong class="tit">借款成本</strong><i class="arrow arrow-1"></i></div>
    <div class="content" style="display:block;">
      <div class="c">借款人成本如下：<br>
        <table border="1" cellspacing="0" cellpadding="0" style="border:none;padding-left: 5px; text-align:center;">
          <tbody>
            <tr>
              <td valign="middle" width="33%" style="border:solid black 1.0pt;"><p> <span>期限</span><span style="font-family:&quot;color:windowtext;"></span> </p></td>
              <td  valign="top" width="33%" style="border:solid black 1.0pt; border-left:0px;"><p> <span>一次性费用<br>
                  (包括佣金)</span><span style="font-family:&quot;color:windowtext;">(</span><span>人民币</span><span style="font-family:&quot;color:windowtext;">)</span> </p></td>
              <td valign="top" width="33%" style="border:solid black 1.0pt; border-left:0px;"><p> <span>月利率</span><span style="font-family:&quot;color:windowtext;"></span><span></span><span style="font-family:&quot;color:windowtext;"></span> </p></td>
            </tr>
            <tr>
              <td  valign="top" style="border:solid black 1.0pt;background:white; border-top:0px"><p> <span>1~3（含）个月</span> </p></td>
              <td valign="top" style="border:solid black 1.0pt;background:white; border-left:0px; border-top:0px"><p align="center" style="text-align:center;"> <span style="font-family:&quot;color:windowtext;">2.08%</span> </p></td>
              <td valign="top" style="border:solid black 1.0pt;background:white; border-left:0px; border-top:0px"><p align="center" style="text-align:center;"> <span style="font-family:&quot;color:windowtext;">0.98%</span> </p></td>
            </tr>
            <tr>
              <td  valign="top" style="border:solid black 1.0pt;background:white; border-top:0px"><p> <span>3~6（含）个月</span> </p></td>
              <td valign="top" style="border:solid black 1.0pt;background:white; border-left:0px; border-top:0px"><p align="center" style="text-align:center;"> <span style="font-family:&quot;color:windowtext;">1.50%</span> </p></td>
              <td valign="top" style="border:solid black 1.0pt;background:white; border-left:0px; border-top:0px"><p align="center" style="text-align:center;"> <span style="font-family:&quot;color:windowtext;">3.00%</span> </p></td>
            </tr>
            <tr>
              <td  valign="top" style="border:solid black 1.0pt;background:white; border-top:0px"><p> <span>6~12（含）个月</span> </p></td>
              <td valign="top" style="border:solid black 1.0pt;background:white; border-left:0px; border-top:0px"><p align="center" style="text-align:center;"> <span style="font-family:&quot;color:windowtext;">5.90%</span> </p></td>
              <td valign="top" style="border:solid black 1.0pt;background:white; border-left:0px; border-top:0px"><p align="center" style="text-align:center;"> <span style="font-family:&quot;color:windowtext;">0.98%</span> </p></td>
            </tr>
          </tbody>
        </table>
        <br>
        温馨提示：<br>
        借款人综合成本由一次性费用和月利率费用两部分组成。根据
        借款人实际借款情况，同城成单返佣可调，返佣的调整直接影响借
        款人一次性费用的支付金额。 <br>
        同城成单佣金如下：<br>
        <table border="1" cellspacing="0" cellpadding="0" style="border:none;padding-left: 5px; text-align:center;">
          <tbody>
            <tr>
              <td valign="middle" width="33%" style="border:solid black 1.0pt;"><p> <span>期限</span><span style="font-family:&quot;color:windowtext;"></span> </p></td>
              <td  valign="top" width="33%" style="border:solid black 1.0pt; border-left:0px;"><p> <span>一次性费用<br>
                  (包括佣金)</span><span style="font-family:&quot;color:windowtext;">(</span><span>人民币</span><span style="font-family:&quot;color:windowtext;">)</span> </p></td>
              <td valign="top" width="33%" style="border:solid black 1.0pt; border-left:0px;"><p> <span>月利率</span><span style="font-family:&quot;color:windowtext;"></span><span></span><span style="font-family:&quot;color:windowtext;"></span> </p></td>
            </tr>
            <tr>
              <td  valign="top" style="border:solid black 1.0pt;background:white; border-top:0px"><p> <span>1~3（含）个月</span> </p></td>
              <td valign="top" style="border:solid black 1.0pt;background:white; border-left:0px; border-top:0px"><p align="center" style="text-align:center;"> <span style="font-family:&quot;color:windowtext;">1.00%</span> </p></td>
              <td valign="top" style="border:solid black 1.0pt;background:white; border-left:0px; border-top:0px"><p align="center" style="text-align:center;"> <span style="font-family:&quot;color:windowtext;">2.50%</span> </p></td>
            </tr>
            <tr>
              <td  valign="top" style="border:solid black 1.0pt;background:white; border-top:0px"><p> <span>3~6（含）个月</span> </p></td>
              <td valign="top" style="border:solid black 1.0pt;background:white; border-left:0px; border-top:0px"><p align="center" style="text-align:center;"> <span style="font-family:&quot;color:windowtext;">1.50%</span> </p></td>
              <td valign="top" style="border:solid black 1.0pt;background:white; border-left:0px; border-top:0px"><p align="center" style="text-align:center;"> <span style="font-family:&quot;color:windowtext;">3.00%</span> </p></td>
            </tr>
            <tr>
              <td  valign="top" style="border:solid black 1.0pt;background:white; border-top:0px"><p> <span>6~12（含）个月</span> </p></td>
              <td valign="top" style="border:solid black 1.0pt;background:white; border-left:0px; border-top:0px"><p align="center" style="text-align:center;"> <span style="font-family:&quot;color:windowtext;">2.10%</span> </p></td>
              <td valign="top" style="border:solid black 1.0pt;background:white; border-left:0px; border-top:0px"><p align="center" style="text-align:center;"> <span style="font-family:&quot;color:windowtext;">3.50%</span> </p></td>
            </tr>
          </tbody>
        </table>
        <br>
        案例：<br>
        借款人实际借款10万，期限6个月，同城成单建议佣金比例为
        1.50%，一次性费率为3.65%，月利率为0.93%，则借款人实际应
        支付一次性费用为3650元，另每月付息金额为930元，而同城成单
        可获得佣金1500元。若借款人接受的一次性费率为5.15%，月利率
        为0.93%，则借款人实际应支付一次性费用为5150元，另每月付息
        金额为930元，而同城成单可获得佣金3000元。 </div>
    </div>
  </div>
  <div class="projectitem">
    <div class="title"><strong class="tit">借款人申请条件</strong><i class="arrow arrow-1"></i></div>
    <div class="content" style="display: none;">
      <div class="c">1、借款人必须为房地产权利人。<br>
        2、中华人民共和国公民；年龄为18~60周岁，身体健康并具
        有完全民事行为能力的自然人。<br>
        3、无酗酒、吸毒、赌博等不良嗜好，无民事纠纷及刑事责任
        ，非高危行业从业者。</div>
    </div>
  </div>
  <div class="projectitem">
    <div class="title"><strong class="tit">房产准入要求</strong><i class="arrow arrow-1"></i></div>
    <div class="content" style="display: none;">
      <div class="c">（一）、房产特征<br>
        1、抵押物房产为借款人依法取得的住宅、商铺或办公写字楼。<br>
        2、抵押物房产房龄为30年以内。<br>
        3、若仅有一套住宅用房，建筑面积应不小于45平方米。<br>
        4、以下房产不可用于业务受理：自建房、动迁房（三年内）、
        经济适用房（五年内）、廉租房、预售房、宅基地房、使
        用权房、地下室/储藏室及停车位、房产及土地登记用途为
        学校/医院/科研等公益性质用途、所有权不明或有争议的房
        产、依法被查封/扣押/监管的房产、依法不得抵押或限制抵
        押的房产等。<br>
        （二）、所有权规定<br>
        1、若抵押物房产权利为共同共有、按份共有等共有情况时，
        则需所有相关权利人签字确认。<br>
        2、以下所有权情况不可用于业务受理：第三方房产抵押、房
        产权利人中有未满18周岁或超出60周岁者（超出60周岁者
        另有其他备用住房可另议）。<br>
        （三）、租赁权约定<br>
        若抵押物房产有租赁，则提供《租赁合同》，同时承租人需签
        订《放弃优先购买承诺书》。</div>
    </div>
  </div>
  <div class="projectitem">
    <div class="title"><strong class="tit">征信要求</strong><i class="arrow arrow-1"></i></div>
    <div class="content" style="display: none;">
      <div class="c">（一）、贷款<br>
        1、征信记录中贷款及对外担保贷款五级分类状态应属正常，
        不可为关注、次级、可疑、损失。<br>
        2、贷款记录5年内无M7、3年内无M5、1年内无M3、6个月
        内无M1。特殊情况者，需有相关部门说明或结清证明。
        3、司法系统内无失信及失信被执行记录。<br>
        4、近3个月内贷款审批查询次数超过6次，且未有新增贷款发
        放的，建议不予受理。<br>
        （二）、信用卡<br>
        1、信用卡账户状态应属正常，不可为呆账、止付、冻结。<br>
        2、信用卡使用记录5年内无M7、3年内无M5、1年内无M3、
        6个月内无M1。特殊情况者，需有相关部门说明或结清证
        明。<br>
        3、近3个月内信用卡审批查询次数超过6次，且未有新卡发放
        的，建议不予受理。</div>
    </div>
  </div>
  <div class="projectitem">
    <div class="title"><strong class="tit">借款人申请时所需材料</strong><i class="arrow arrow-1"></i></div>
    <div class="content" style="display: none;">
      <div class="c">1、借款人及配偶身份证、户口本、婚姻证明、征信报告、房
        产证、银行卡账户。<br>
        2、私营业主需同时提供工商营业执照及相关行业证件。 <font color="#ff711c">另提供银行流水即可有机会获取更高贷款额度。</font></div>
    </div>
  </div>
  <div style="height:65px;"></div>
  <div class="bottom_btn">
    <input type="button" class="confirm" value="立即申请">
  </div>
</div>
</body>
</html>