<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>阳光成单</title>
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<meta name="renderer" content="webkit">
<meta http-equiv="Cache-Control" content="no-siteapp" />
<link rel="stylesheet" type="text/css" href="css/global.css" />
<link href="css/style.css" rel="stylesheet" type="text/css" />
<script src="js/jquery-1.10.2.min.js"></script>
</head>
<body>
<header id="title">
  <div class="back"> </div>
  实名认证
</header>
<div style="height:40px;"></div>
<!--提现-->
<div class="pay-iphone">为了您的账户安全，请先进行实名认证</div>

<ul class="product_sq" style="margin-top:10px;">
  <li> <span>姓名</span>
    <input type="text" class="add-input" placeholder="请输入真实姓名">
  </li>
  <li style="border:0px"> <span>身份证号</span>
    <input type="text" class="add-input" placeholder="请输入本人身份证号码">
  </li>
</ul>
<input type="button" class="confirm" value="提交">
</body>
</html>