<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>阳光成单</title>
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<meta name="renderer" content="webkit">
<meta http-equiv="Cache-Control" content="no-siteapp" />
<link rel="stylesheet" type="text/css" href="css/global.css" />
</head>
<body style="background:#fff;">
<div>
  <form id="formRegister" action="">
    <link href="css/register.css" rel="stylesheet" type="text/css" />
    <header id="title">
      <div class="back"> </div>
      个人注册 </header>
      <div style="height:2.8em;"></div>
    <section id="register">
      <div> <span> <img src="images/icon_phone.png" width="24" height="24" alt="手机图标"></span>
        <input

                    id="txt_UserNmae" name="txt_UserName" type="text" placeholder="手机号码">
      </div>
      
	  <div> <span> <img src="images/icon_email.png" width="24" height="24" alt="手机验证码"></span>
        <input

                    id="txt_UserNmae" name="txt_UserName" type="text" placeholder="手机验证码"><a href="#" class="fscode">获取验证码</a><!--<a href="#" class="fasong">(60)重新发送</a>-->
      </div>
      
      <a id="asubmit" class="btn">下一步</a>
    </section>
  </form>
</div>
</body>
</html>
