<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>阳光成单</title>
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<meta name="renderer" content="webkit">
<meta http-equiv="Cache-Control" content="no-siteapp" />
<link rel="stylesheet" type="text/css" href="css/global.css" />
<link rel="stylesheet" type="text/css" href="css/mdialog.css">
</head>
<body style="background:#fff;">
<div>
  <form id="formRegister" action="">
    <link href="css/register.css" rel="stylesheet" type="text/css" />
    <header id="title">
      <div class="back"> </div>
      个人注册 </header>
      <div style="height:2.8em;"></div>
    <section id="register">

      <div> <span> <img src="images/icon_password.png" width="24" height="24" alt="密码图标"></span>
        <input id="txt_Pwd" name="txt_Pwd" type="password" placeholder="密码（6～16个字符）">
      </div>
      <div> <span> <img src="images/icon_password.png" width="24" height="24" alt="密码图标"></span>
        <input  id="txt_PwdTwo" name="txt_PwdTwo" type="password" placeholder="再次输入密码">
      </div>
      <a class="btn" id="success">确定</a>
<!--  <a class="btn" id="error">确定</a>
      <a class="btn" id="load">确定</a>
      <a class="btn" id="tip">确定</a> -->
      
    </section>
  </form>
</div>

</body>
</html>
<script type="text/javascript" src="js/zepto.min.js"></script>
<script type="text/javascript" src="js/mdialog.js"></script>
<script type="text/javascript">
	 //成功  
    $("#success").click(function(){  
        new TipBox({type:'success',str:'操作成功',hasBtn:true});
    });  
    //错误  
    $("#error").click(function(){  
        new TipBox({type:'error',str:'对不起,出错了!',hasBtn:true});  
    });  
      
    //提示  
    $("#tip").click(function(){  
        new TipBox({type:'tip',str:'这是提示信息',clickDomCancel:true,setTime:10000500,hasBtn:true});  
    });  
      
    //加载  
    $("#load").click(function(){  
        new TipBox({type:'load',str:"努力加载中..",setTime:1500,callBack:function(){  
            new TipBox({type:'success',str:'操作成功',hasBtn:true});  
        }});  
    });  
      
</script>