<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>阳光成单</title>
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<meta name="renderer" content="webkit">
<meta http-equiv="Cache-Control" content="no-siteapp" />
<link rel="stylesheet" type="text/css" href="css/global.css" />
<link href="css/style.css" rel="stylesheet" type="text/css" />
<script src="js/jquery-1.10.2.min.js"></script>
</head>
<body>
  <header id="title">
    <div class="back"> </div>
    提现说明
  </header>
  <div style="height:40px;"></div>
  <!--提现说明-->
<div class="about">
<h1>关于提现的银行卡限制</h1>
<p style="text-indent:2em;">只能提现到本人的银联借记卡、存折、信用卡均不支
持。</p>
<h1>提现到卡</h1>
<p style="text-indent:2em;">出于对您的资金安全的考虑，通过同城成单的提现目前仅支持只能提现到您绑定的同城成单账户的银行卡中。</p>
<h1>提现到账时间</h1>
<p style="text-indent:2em;">同城成单针对提现都是实时发起给银行进行处理，到账时间以银行实际为准。提现最快十几分钟可到账，一般控制在两小时内。若长时间未到账，请联系客服帮忙处理。如有任何提现问题，请您联系客服处理。</p>
<h1>提现限制</h1>
<p style="text-indent:2em;">单笔提现限额50万，单日提现限额200万，每位用户每日最多可提现10次。</p>
</div>
 
</body>
</html>