<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>阳光成单</title>
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<meta name="renderer" content="webkit">
<meta http-equiv="Cache-Control" content="no-siteapp" />
<link rel="stylesheet" type="text/css" href="css/global.css" />
<link href="css/style.css" rel="stylesheet" type="text/css" />
<script src="js/jquery-1.10.2.min.js"></script>
</head>
<body>
  <header id="title">
    <div class="back"> </div>
    查看进度
  </header>
  <div style="height:40px;"></div>
  <!--订单状态-->
  <!--订单信息-->
<div class="service_box">
<div class="service_title">跟踪进度</div>
    <!--服务流程（上）-->
    <div class="service">
    	<div class="green">
    		<div></div>
    	</div>
        <h1 style="color:#15bc77">已完成</h1>
        <h2 style="color:#15bc77">温馨提示：订单已完成</h2>
        <p style="color:#15bc77">2015-12-30&nbsp;&nbsp;&nbsp;&nbsp;18:30:25</p>
        <div class="border_bottoms"></div>
    </div>   
    <!--服务流程（中）-->
    <div class="service">
    	<div class="gray">
       	  	<div></div>
            <p></p>
      	</div>
        <h1>信息核对中</h1>
        <h2>服务人员（电话：0551-3541652）会与您进一步沟通，确认客户李景的借款需求等信息，预计1小时左右搞定。</h2>
        <p>2015-12-30&nbsp;&nbsp;&nbsp;&nbsp;16:30:25</p>
        <div class="border_bottoms"></div>
    </div>
    <!--服务流程（下）-->
    <div class="service">
    	<div class="gray">
       		<div></div>
            <p></p>
      	</div>
        <h1>等待接单中</h1>
        <h2>阳光宝盒已通知服务机构，服务人员将在30分钟内与您联络，请保持手机畅通。如有任何问题，可咨询客服123-456-7890（工作日09:00-18：00）。</h2>
        <p>2015-12-30&nbsp;&nbsp;&nbsp;&nbsp;10:30:25</p>
    </div>
    
</div>

</body>
</html>