<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>阳光成单</title>
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<meta name="renderer" content="webkit">
<meta http-equiv="Cache-Control" content="no-siteapp" />
<link rel="stylesheet" type="text/css" href="css/global.css" />
<link href="css/style.css" rel="stylesheet" type="text/css" />
<script src="js/jquery-1.10.2.min.js"></script>
</head>
<body>
  <header id="title">
    <div class="back"> </div>
    系统消息
  </header>
  <div style="height:40px;"></div>
  <!--系统消息-->
<ul class="mess">
	    	<li>
	    		<a href="">
	    		<h2>商城活动，快来参与</h2>
	    		<p class="con">年底感恩活动震撼来袭啦！为回馈和感恩大家，一元抢购活动震撼开场！我们准备了丰富多样的商品，一元就能抢购，赶紧把喜欢的商品带回家吧！</p>
	    	    <div class="time"><span>16-01-06</span><i>查看详情 &gt;</i></div>
	    		</a>
	    	</li>
	    	<li>
	    		<a href="">
	    		<h2>商城活动，快来参与</h2>
	    		<p class="con">年底感恩活动震撼来袭啦！为回馈和感恩大家，一元抢购活动震撼开场！我们准备了丰富多样的商品，一元就能抢购，赶紧把喜欢的商品带回家吧！</p>
	    	    <div class="time"><span>16-01-06</span><i>查看详情 &gt;</i></div>
	    		</a>
	    	</li>
	    </ul>
 
</body>
</html>