<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>阳光成单</title>
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<meta name="renderer" content="webkit">
<meta http-equiv="Cache-Control" content="no-siteapp" />
<link rel="stylesheet" type="text/css" href="css/global.css" />
<link rel="stylesheet" type="text/css" href="css/style.css" />
</head>
<body>
  <header id="title">
    <div class="back"> </div>
    订单详情
    <div class="order_sm">投诉</div>
  </header>
  <div style="height:2.8em;"></div>
<!--订单信息-->
<div class="order_box">
    <!--订单信息-->

  <div class="order_item">
    <div class="order_item_hd"> <a class="order_item" href="#"><span class="text">进行中</span>
      <p class="order_tips">温馨提示：订单正在进行</p>
      <p class="order_date">2016-08-15 15:44</p>
      </a> </div>
  </div>
    <div class="order_title">订单信息</div>
    
    <div class="order_msg">
        <div class="msg_line">
            <h1>借款人</h1>
            <p>李静</p>
            <div class="clearfix"></div>
        </div>
        <div class="msg_line">
            <h1>申请借款</h1>
            <p>2个月&nbsp;&nbsp;&nbsp;&nbsp;10.00万元</p>
            <div class="clearfix"></div>
        </div>
        <div class="msg_line">
            <h1>手机号</h1>
            <p>18326091505</p>
            <div class="clearfix"></div>
        </div>
        <div class="msg_line">
            <h1>房产信息</h1>
            <p>合肥庐阳区金都华庭小区11栋2层201，110.0平方米</p>
            <div class="clearfix"></div>
        </div>
        <div class="msg_line">
            <h1>产权证类型</h1>
            <p>其他</p>
            <div class="clearfix"></div>
        </div>
        <div class="msg_line">
            <h1>其它</h1>
            <p>&nbsp;</p>
            <div class="clearfix"></div>
        </div>
        <div class="msg_line">
            <h1>产权证地址</h1>
            <p>合肥市</p>
            <div class="clearfix"></div>
        </div>
        <div class="msg_line">
            <h1>抵押类型</h1>
            <p>一押</p>
            <div class="clearfix"></div>
        </div>
        <div class="msg_line">
            <h1>返佣比例</h1>
            <p>1.00%</p>
            <div class="clearfix"></div>
        </div>
        <div class="msg_line">
            <h1>预计佣金</h1>
            <p>1,000.00元</p>
            <div class="clearfix"></div>
        </div>
        <div class="msg_line">
            <h1>服务机构</h1>
            <p>2小时</p>
            <div class="clearfix"></div>
        </div>
        <div class="msg_line">
            <h1>预计该房最高可借</h1>
            <p>130.00万元</p>
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
        
    </div>
    <div class="order_title">保洁剂</div>
    <div class="order">
        <div class="order_line">
            <h1>订单编号</h1>
            <p>2060</p>
        </div>
        <div class="border_bottom"></div>
        <div class="order_line">
            <h1>创建时间</h1>
            <p>2016.08.15 12:33</p>
        </div>
        <div class="border_bottom"></div>
        <div class="order_line">
            <h1>更新时间</h1>
            <p>2016.08.15 12:54</p>
        </div>
    </div>    
</div>
<div style="height:47px;"></div>
<div class="c-com-btn">
			<a href="" class="canelpay">查看进度</a>
		</div>
</body>
</html>