<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>阳光成单</title>
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<meta name="renderer" content="webkit">
<meta http-equiv="Cache-Control" content="no-siteapp" />
<link rel="stylesheet" type="text/css" href="css/global.css" />
<link href="css/style.css" rel="stylesheet" type="text/css" />
<script src="js/jquery-1.10.2.min.js"></script>
</head>
<body>
<header id="title">
  <div class="back"> </div>
  订单
  <div class="order_sm">订单说明</div>
</header>
<div style="height:43px;"></div>
<!--订单状态-->
<div class="state_box">
  <div class="state">进行中</div>
  <div class="state">已成交</div>
  <div class="state">已终止</div>
  <div class="blue_block"></div>
  <div class=" border_bottom"></div>
</div>
<!--订单信息-->
<div class="movelist_box">
  <div class="move"> 
    
    <!--未付款-->
    <div class="orderlist_box">
      <div class="orderlist">
        <div class="orderlist_title"><span class="order_name">李景</span><span class="order_time">更新于2016.08.13 18:55<a href="订单详情.html">进行中</a></span></div>
        <div class="orderlist_text">
          <div class="border_top"></div>
          <table width="100%">
            <tr class="pro-dta">
              <td><strong>10.00</strong> <span>申请借款金额（万元）</span></td>
              <td><strong>2</strong> <span>申请借款期限（月）</span></td>
              <td><strong style="color:#ff711c;">1,000.00</strong> <span><img src="images/yjicon.png" width="14">&nbsp;预计佣金（元）</span></td>
            </tr>
          </table>
        </div>
        <div class="cancel_order">
          <div class="cancel" style="border:#848484 1px solid; color:#848484;" onClick="document.location='订单详情.html';">查看进度</div>
        </div>
      </div>
      <div class="orderlist">
        <div class="orderlist_title"><span class="order_name">李景</span><span class="order_time">更新于2016.08.13 18:55<a href="订单详情.html">进行中</a></span></div>
        <div class="orderlist_text">
          <div class="border_top"></div>
          <table width="100%">
            <tr class="pro-dta">
              <td><strong>10.00</strong> <span>申请借款金额（万元）</span></td>
              <td><strong>2</strong> <span>申请借款期限（月）</span></td>
              <td><strong style="color:#ff711c;">1,000.00</strong> <span><img src="images/yjicon.png" width="14">&nbsp;预计佣金（元）</span></td>
            </tr>
          </table>
        </div>
        <div class="cancel_order">
          <div class="cancel" style="border:#848484 1px solid; color:#848484;" onClick="document.location='订单详情.html';">查看进度</div>
        </div>
      </div>
    </div>
    
    <!--已成交-->
    <div class="orderlist_box">
      <div class="orderlist">
        <div class="orderlist_title"><span class="order_name">李景</span><span class="order_time">更新于2016.08.13 18:55<a href="订单详情.html">进行中</a></span></div>
        <div class="orderlist_text">
          <div class="border_top"></div>
          <table width="100%">
            <tr class="pro-dta">
              <td><strong>10.00</strong> <span>申请借款金额（万元）</span></td>
              <td><strong>2</strong> <span>申请借款期限（月）</span></td>
              <td><strong style="color:#ff711c;">1,000.00</strong> <span><img src="images/yjicon.png" width="14">&nbsp;预计佣金（元）</span></td>
            </tr>
          </table>
        </div>
        <div class="cancel_order">
          <div class="cancel" style="border:#848484 1px solid; color:#848484;" onClick="document.location='订单详情.html';">查看进度2</div>
        </div>
      </div>
     <div class="orderlist">
        <div class="orderlist_title"><span class="order_name">李景</span><span class="order_time">更新于2016.08.13 18:55<a href="订单详情.html">进行中</a></span></div>
        <div class="orderlist_text">
          <div class="border_top"></div>
          <table width="100%">
            <tr class="pro-dta">
              <td><strong>10.00</strong> <span>申请借款金额（万元）</span></td>
              <td><strong>2</strong> <span>申请借款期限（月）</span></td>
              <td><strong style="color:#ff711c;">1,000.00</strong> <span><img src="images/yjicon.png" width="14">&nbsp;预计佣金（元）</span></td>
            </tr>
          </table>
        </div>
        <div class="cancel_order">
          <div class="cancel" style="border:#848484 1px solid; color:#848484;" onClick="document.location='订单详情.html';">查看进度</div>
        </div>
      </div>
      <div class="orderlist">
        <div class="orderlist_title"><span class="order_name">李景</span><span class="order_time">更新于2016.08.13 18:55<a href="订单详情.html">进行中</a></span></div>
        <div class="orderlist_text">
          <div class="border_top"></div>
          <table width="100%">
            <tr class="pro-dta">
              <td><strong>10.00</strong> <span>申请借款金额（万元）</span></td>
              <td><strong>2</strong> <span>申请借款期限（月）</span></td>
              <td><strong style="color:#ff711c;">1,000.00</strong> <span><img src="images/yjicon.png" width="14">&nbsp;预计佣金（元）</span></td>
            </tr>
          </table>
        </div>
        <div class="cancel_order">
          <div class="cancel" style="border:#848484 1px solid; color:#848484;" onClick="document.location='订单详情.html';">查看进度</div>
        </div>
      </div>
    </div>
    
    <!--已终止-->
    <div class="orderlist_box">
      <div class="orderlist">
        <div class="orderlist_title"><span class="order_name">李景</span><span class="order_time">更新于2016.08.13 18:55<a href="#">进行中</a></span></div>
        <div class="orderlist_text">
          <div class="border_top"></div>
          <table width="100%">
            <tr class="pro-dta">
              <td><strong>10.00</strong> <span>申请借款金额（万元）</span></td>
              <td><strong>2</strong> <span>申请借款期限（月）</span></td>
              <td><strong style="color:#ff711c;">1,000.00</strong> <span><img src="images/yjicon.png" width="14">&nbsp;预计佣金（元）</span></td>
            </tr>
          </table>
        </div>
        <div class="cancel_order">
          <div class="cancel" style="border:#848484 1px solid; color:#848484;" onClick="document.location='';">查看进度1</div>
        </div>
      </div>
     <div class="orderlist">
        <div class="orderlist_title"><span class="order_name">李景</span><span class="order_time">更新于2016.08.13 18:55<a href="#">进行中</a></span></div>
        <div class="orderlist_text">
          <div class="border_top"></div>
          <table width="100%">
            <tr class="pro-dta">
              <td><strong>10.00</strong> <span>申请借款金额（万元）</span></td>
              <td><strong>2</strong> <span>申请借款期限（月）</span></td>
              <td><strong style="color:#ff711c;">1,000.00</strong> <span><img src="images/yjicon.png" width="14">&nbsp;预计佣金（元）</span></td>
            </tr>
          </table>
        </div>
        <div class="cancel_order">
          <div class="cancel" style="border:#848484 1px solid; color:#848484;" onClick="document.location='';">查看进度</div>
        </div>
      </div>
      <div class="orderlist">
        <div class="orderlist_title"><span class="order_name">李景</span><span class="order_time">更新于2016.08.13 18:55<a href="#">进行中</a></span></div>
        <div class="orderlist_text">
          <div class="border_top"></div>
          <table width="100%">
            <tr class="pro-dta">
              <td><strong>10.00</strong> <span>申请借款金额（万元）</span></td>
              <td><strong>2</strong> <span>申请借款期限（月）</span></td>
              <td><strong style="color:#ff711c;">1,000.00</strong> <span><img src="images/yjicon.png" width="14">&nbsp;预计佣金（元）</span></td>
            </tr>
          </table>
        </div>
        <div class="cancel_order">
          <div class="cancel" style="border:#848484 1px solid; color:#848484;" onClick="document.location='';">查看进度</div>
        </div>
      </div>
    </div>
    
  </div>
</div>
<!--底部导航-->
<div style="height:5.3rem;"></div>
<ul class="quanbu-ul1">
  <li class="current">
    <div class="qu-tu1"> <a href="index.html" class="atu1"><img src="images/sjsc-02.png"></a> <a href="index.html" class="atu2"><img src="images/sjsc-15-1.png"></a> </div>
    <a href="index.html" class="qu-ul1a">首页</a> </li>
  <li>
    <div class="qu-tu1"> <a href="订单.html" class="atu1"><img src="images/sjsc-17.png"></a> <a href="订单.html" class="atu2"><img src="images/sjsc-17-1.png"></a> </div>
    <a href="#" class="qu-ul1a">订单</a> </li>
  <li>
    <div class="qu-tu1"> <a href="个人中心.html" class="atu1"><img src="images/sjsc-18.png"></a> <a href="个人中心.html" class="atu2"><img src="images/sjsc18-1.png"></a> </div>
    <a href="个人中心.html" class="qu-ul1a">我的</a> </li>
  <div style="clear:both;"></div>
</ul>

<!-- 弹出层部分end -->
<!--合作机构定位-->
<div class="ygydcity_layer">
<div class="ygydcity">
 <div class="ygydcontent">

				<ul class="payment_city_mask">
                    <li class="ygyd_title">佣金说明</li>
                    <li class="ygyd_con">预计佣金=申请借款金额*返佣比例</li>
					<li class="shiyi_close">知道了</li>
				</ul>
				
</div>								
</div>
<div class="ygydcontent_mark"></div>
</div>				
<script>
$(function(){
	$(".pro-dta img").click(function () {
		$('.ygydcity').show(0);
		$('.ygydcontent_mark').show(0);
	});
	$('.shiyi_close').click(function(){
		$('.ygydcity').hide(0);
		$('.ygydcontent_mark').hide(0);
	});
});
</script>
<script>
$(".state:eq(0)").click(
	function(){
		$(".blue_block").animate({left:'0%'})
		$(".move").css("left","0%")
		}
)
$(".state:eq(1)").click(
	function(){
		$(".blue_block").animate({left:'33%'})
		$(".move").css("left","-100%")
		}
)
$(".state:eq(2)").click(
	function(){
		$(".blue_block").animate({left:'67%'})
		$(".move").css("left","-200%")
		}
)

</script>
</body>
</html>